/* global */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  color: whitesmoke;
  padding: 0;
  margin: 0;
  font-family: 'Aladin', cursive;
  font-size: 12px;
  background: #794b9e;
  background: linear-gradient(to right, #794b9e 37%, #6bdae0 92%);
}
p, li {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
h1 {  
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 3em;
}

a {
  color: whitesmoke;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, .2);
  padding: 10px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background-color: rgba(0, 0, 0, .4);
}

hr.gradientdark {
    border: 0;
    height: 1px;
    margin: 0;
    color: #ffffff;
    width: 60%;
    text-align:center; 
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  margin: 0 1em;
  flex: 1;
}

/* header and nav */

header {
  background-color: rgba(0, 0, 0, .2);
  padding: 1em 0;
  display: flex;
  justify-content: center;
}

header h1 {
  margin: 0;
}

.toggleNav {
  display: block;
}

nav {
  padding-bottom: 2em;
  order: -1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  display: none;
}

nav ul.active {
  display: flex;
}

nav ul li {
  flex-basis: 100%;
  display: flex;
  align-items: stretch;
}

nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul .social {
  flex: 1 1 25%;
}

.social img {
  width: 30px;
}

/* hero */

.hero {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a7/%D9%85%D8%B3%D8%AC%D8%AF_%D9%86%D8%B5%DB%8C%D8%B1%D8%A7%D9%84%D9%85%D9%84%DA%A9_%D8%AF%D8%B1_%D8%B4%DB%8C%D8%B1%D8%A7%D8%B2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  width: 100%;
  height: 50vh;
  margin: 2em 0;
}

/*packages */

.package-header {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .2);
}
.packages-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0;
  justify-content: space-between;
}
.packages-grid li {
  padding: 0;
  margin: .5em 0;
}
.packages-grid ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.package { 
  padding: 2em;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  flex: 1 1 100%;
  margin-bottom: 10px;
}
.package h2 {
  font-size: 2em;
}
.package > * {
  flex: 1 1 100%;
  text-align: center;
}
.package .price {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.package .cta, .price {
  align-self: flex-end;
}

/* gallery */

.gallery-header {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .2);
}

.flexbox-grid {
  padding: 2em 0;
}

.flexbox-grid ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.flexbox-grid ul li {
  flex: 1 1 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
  margin-bottom: 10px;
}

.flexbox-grid ul img {
  width: 100%;
}

/* footer */

footer {
  width: 100%;
  padding: 2em;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h1 {
  margin: 0;
}

/* media queries */

@media (min-width: 500px) {
  nav ul {}
  nav ul li {
    flex-basis: 50%;
  }
  .flexbox-grid ul li {
    flex: 0 0 calc(100%/2 - 8px);
    margin-bottom: 15px;
  }
  .package1, .package2 {
    flex: 0 0 calc(100%/2 - 10px);
    
  }
  .package3 {
    
    
  }

}
@media (min-width: 800px) {
  .packages-grid {
    display: flex;
  }
  .package {
    flex: 0 0 calc(100%/3 - 10px);
  }
  .package1, .package2 {
    
  }
  .package3 {
    
    
  }
  
  
}

@media (min-width: 1000px) {
  nav ul {
    flex-wrap: nowrap;
  }
  nav ul li {
    flex: 3 1 50%;
  }
  nav ul .social {
    flex: 1 1 25%;
  }
  .flexbox-grid ul {
    justify-content: space-between;
    align-content: space-between;
  }
  .flexbox-grid ul li {
    flex: 0 0 calc(100%/3 - 10px);
  }
  main {
    margin: 0 0;
  }
  .toggleNav {
    display: none;
  }
  
  nav {
    padding-bottom: 2em;
    order: -1;
  }
  nav ul {
    display: flex;
  }
}
